.update-post
  p,
  ul,
  ol
    margin-bottom: 20px

  li
    font-size: $pSize
    line-height: $pLH
    margin-bottom: 10px

  p + h2,
  ol + h2,
  ul + h2
    margin-top: 60px

  p + h3,
  ol + h3,
  ul + h3
    margin-top: 40px
