$sans = 'Source Sans Pro', sans-serif
$serif = Merriweather, Georgia, serif
$mono = Hack, monospace

$d1Size = 52px
$d1LH = 68px

$d2Size = 40px
$d2LH = 52px

$h1Size = 40px
$h1LH = 52px

$h2Size = 30px
$h2LH = 39px

$h3Size = 20px
$h3LH = 26px

$h4Size = 17px
$h4LH = 22px

$h5Size = 15px
$h5LH = 20px

$h6Size = 13px
$h6LH = 17px

$pSize = 17px
$pLH = 25px

$smallSize = 15px
$smallLH = 18px

$smallestSize = 14px
$smallestLH = 17px

$ledeSize = 20px
$ledeLH = 34px

$clrBase = #212121
$clrGrayCoolLight = #dce4ef
$clrGrayDark = #323a45
$clrGrayLight = #aeb0b5
$clrGrayLighter = #d6d7d9
$clrGrayLighter2 = #eee
$clrGrayLightest = #f1f1f1
$clrGrayWarmDark = #494440
$clrGrayWarmLight = #e4e2e0
$clrGray = #5b616b
$clrPrimaryAltDark = #046b99
$clrPrimaryAltDarkest = #00a6d2
$clrPrimaryAltLight = #9bdaf1
$clrPrimaryAltLightest = #e1f3f8
$clrPrimaryAlt = #02bfe7
//$clrPrimaryDarker = #205493
$clrPrimaryDarker = #003152
//$clrPrimaryDarker = #000000
$clrPrimaryDarkest = #003b58
$clrPrimary = #007cba
$clrSecondaryDark = #cd2026
$clrSecondaryDarkest = #981b1e
$clrSecondaryLight = #e59393
$clrSecondaryLightest = #f9dede
$clrSecondary = #e31c3d
$clrCoolBlue = #205493
$clrCoolBlueLight = #4773aa
$clrCoolBlueLighter = #8ba6ca
$clrCoolBlueLightst = #dce4ef
$clrWhite = #fff
$clrBlack = #000

$clrGreen = #2e8540
$clrGreenLight = #4aa564

// hash for iteration, ie, auto creating classes
$uswds-colors = {
  base: $clrBase,
  'gray-cool-light': $clrGrayCoolLight,
  'gray-dark': $clrGrayDark,
  'gray-light': $clrGrayLight,
  'gray-lighter': $clrGrayLighter,
  'gray-lighter-2': $clrGrayLighter2,
  'gray-lightest': $clrGrayLightest,
  'gray-warm-dark': $clrGrayWarmDark,
  'gray-warm-light': $clrGrayWarmLight,
  gray: $clrGray,
  'primary-alt-dark': $clrPrimaryAltDark,
  'primary-alt-darkest': $clrPrimaryAltDarkest,
  'primary-alt-light': $clrPrimaryAltLight,
  'primary-alt-lightest': $clrPrimaryAltLightest,
  'primary-alt': $clrPrimaryAlt,
  'primary-darker': $clrPrimaryDarker,
  'primary-darkest': $clrPrimaryDarkest,
  primary: $clrPrimary,
  'secondary-dark': $clrSecondaryDark,
  'secondary-darkest': $clrSecondaryDarkest,
  'secondary-light': $clrSecondaryLight,
  'secondary-lightest': $clrSecondaryLightest,
  secondary: $clrSecondary,
  'cool-blue': $clrCoolBlue,
  'cool-blue-light': $clrCoolBlueLight,
  'cool-blue-lighter': $clrCoolBlueLighter,
  'cool-blue-lightest': $clrCoolBlueLightest,
  white: $clrWhite,
  black: $clrBlack,
  green: $clrGreen,
  'green-light': $clrGreenLight,
  inherit: inherit,
}

// grid variables
$gridMaxWidth = 1400px
$gridHero = 1024px
$gridReading = 40rem
$gridHeader = 55rem
$gridWidth = 85%
$mobGridWidth = calc(100% - 40px)

// 'all and' for IE
$bpMob = '(max-width: 640px)'
$bpTab = '(min-width: 641px)'
$bpTabRange = '(min-width: 641px) and (max-width: 1023px)'
$bpDesk = '(min-width: 1024px)'
$bpWide = '(min-width: 1400px)'

// Mobile & tablet
$tablet = '(max-width: 768)'