/*
/*
/*
/*
/* Off-site fonts. */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

/*
/*
/*
/*
/* Layout aids. */

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #555;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.69em;
  line-height: 1.26;
}
.site {
  min-width: 320px;
}
.content-width {
  width: 100%;
}

/*
/*
/*
/*
/* Basic type, list, and graphic styles. */

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 300;
}
h1 {
  font-size: 1.34em;
  line-height: 1.23;
}
p {
  margin: 1em 0;
}
a {
  color: #068cff;
}
a:hover {
  color: #068cff;
  text-decoration: underline;
}
a.white {
  color #fff;
  cursor: pointer;
}
a.white:hover {
  color: #fff !important;
}
.list-horizontal {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.list-horizontal > li {
  position: relative;
  display: block;
}
.list-horizontal > li > a {
  position: relative;
  display: block;
  padding: 10px 15px 10px 0;
}
div.date {
  margin-top: .5ex;
}
.date {
  color: #999;
  font-size: .7em;
}
.slight {
  color: #666;
  font-size: .7em;
}
.text-small {
  font-size: .7em;
}
.cover-image {
  background-repeat: no-repeat;
  height: 36ex;
  margin: 0 -15px;
}
.post-label {
  padding: 1ex 15px 1ex 15px;
}
.cover-image > .post-label.grey-bg {
  opacity: 0.95;
}
.blocklight {
  display: block;
  margin: 0 -15px;
  padding: 1ex 15px 1ex 15px;
}
.line {
  padding-bottom: 2ex;
  border-bottom: 1px solid #999;
}
.line-light {
  padding-bottom: .5ex;
  border-bottom: 1px solid #dadada;
}
.padded-bottom {
  padding-bottom: 9ex;
}
.spaced-bottom {
  margin-bottom: 4ex;
}

/*
/*
/*
/*
/* Header, logo, footer, and other common elements. */

.header {
  font-size: .7em;
  color: #666;
  margin-top: 4ex;
  margin-bottom: 7ex;
  padding-bottom: 2px;
  border-bottom: 1px solid #dadada;
}
.logo {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3em;
}
.logo-fda {
  margin-bottom: .5em;
}
.masthead {
  padding-top: 5.2ex;
  padding-bottom: 2ex;
}
.footer {
  font-size: .7em;
  color: #666;
  margin-top: 2em;
  overflow: hidden;
}
.footer a {
  color: #00539B;
}
.nav-footer > li {
  float: left;
  margin-top: -4px;
}
.nav-footer > li + li {
  margin-left: 2px;
}
.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}
.footer .rss img {
  border: 0;
}
#contact-form {
  margin-top: 1.5ex;
}
#contact-form > * {
  font-size: 12px;
  margin-bottom: 1ex;
}

/*
/*
/*
/*
/* Colors for text and block elements. */

.white {
  color: #fff;
}
.blue {
  color: #00539B;
}
.purple {
  color: #4343ca;
}
.red {
  color: #cc3366;
}
.orange {
  color: #ff5545;
}
.blue-bg {
  color: #fff;
  background: #00539B;
}
.purple-bg {
  color: #fff;
  background: #4343ca;
}
.red-bg {
  color: #fff;
  background: #cc3366;
}
.orange-bg {
  color: #fff;
  background: #ff5545;
}
.grey-bg {
  background: #f4f4f4;
}
.light-bg {
  background: #eaeaea;
}

/*
/*
/*
/*
/* OpenFDA icon font and icons. */

[class^="icon-"], [class*=" icon-"] {
  font-family: 'openfda';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: .15em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover {
  text-decoration: none;
}
a.link-icon {
  text-decoration: none;
}
a.link-icon span:hover {
  text-decoration: underline;
}
a [class^="icon-"]:hover, a [class*=" icon-"]:hover {
  text-decoration: none !important;
}
.icon-twitter:before {
  content: "\e600";
}
.icon-github:before {
  content: "\e601";
}
.icon-mail:before {
  content: "\e602";
}

/*
/*
/*
/*
/* Post index and post styles (initially form Jekyll). */

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
.posts li {
  line-height: 1.75em;
}
.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
.excerpt {
  border-bottom: 1px solid #dadada;
  padding-bottom: 2px;
  margin-bottom: 7ex;
}
.excerpts h2 {
  font-size: .7em;
}
.excerpts h3 {
  margin-bottom: 0;
}
.meta {
  color: #aaa;
}
.post {
  margin-bottom: 7ex;
}
.post-content {
  padding-bottom: 7ex;
}
.post h1 {
  color: #111;
}
.post img {
  max-width: 100%;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
.post ul, .post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre code {
  border: none;
}
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}

/*
/*
/*
/*
/* Social/sharing except images, which are inlined in the css-js include. */

ul.social {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.social li {
  color: #777;
  font-size: .7em;
  display: block;
  float: left;
  margin-right: 2em;
}
ul.social li > a {
  margin-left: .25em;
}
ul.social li > a:before {
  content: "";
  float: left;
  width: 20px;
  height: 20px;
  margin-top: -2px;
}
ul.social .facebook a:before {
  background-position: 0 -20px;
}
ul.social .twitter a:before {
  background-position: -20px -20px;
}
ul.social .googleplus a:before {
  background-position: -40px -20px;
}
ul.social .linkedin a:before {
  background-position: -60px -20px;
}
ul.social .pinterest a:before {
  background-position: -80px -20px;
}

/*
/*
/*
/*
/* Responsive design thresholds.
/* Compatible with Bootstrap 3.0, so unfortunately sticking with px. */

/* Extra small devices > 767px */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    padding: 0;
  }
  .site {
    margin: 0 auto;
  }
  .header {
    margin-top: 3ex;
  }
  .logo {
    margin-bottom: 0;
  }
  .logo-fda {
    margin-bottom: 2ex;
  }
  .padded-bottom {
    padding-bottom: 5ex;
  }
  .cover-image {
    height: 30ex`;
    background-size: 100% auto;
  }
}
/* Small devices ≥ 768px */
@media only screen and (min-width: 768px) {
  body {
  }
  .header {
    margin-top: 3ex;
  }
  .logo {
    margin-bottom: 0;
  }
  .logo-fda {
    margin-bottom: 2ex;
  }
  .cover-image {
    height: 30ex`;
    background-size: 100% auto;
  }
}
/* Medium devices ≥ 992px */
@media only screen and (min-width: 992px) {
  body {
  }
}
/* Medium devices ≥ 1200px */
@media only screen and (min-width: 1200px) {
  body {
  }
}