@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  color: #555;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.69em;
  line-height: 1.26;
}
.site {
  min-width: 320px;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 300;
}
h1 {
  font-size: 1.34em;
  line-height: 1.23;
}
p {
  margin: 1em 0;
}
a {
  color: #068cff;
}
a:hover {
  color: #068cff;
  text-decoration: underline;
}
a: visited {
  color: ##7051B9;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'openfda';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 0.15em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover {
  text-decoration: none;
}
a.link-icon:hover {
  text-decoration: none;
}
a.link-icon span:hover {
  text-decoration: underline;
}

.title {
}
.date {
  color: #999;
  font-size: 0.7em;
}
.slight {
  color: #666;
  font-size: 0.7em;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
.posts li {
  line-height: 1.75em;
}
.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.header {
  font-size: 0.7em;
  color: #666;
  margin-top: 4ex;
  margin-bottom: 7ex;
  padding-bottom: 2px;
  border-bottom: 1px solid #dadada;
}

.logo {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 3.0em;
}
.masthead {
  padding-top: 5.2ex;
  padding-bottom: 2.0ex;
}
.line {
  padding-bottom: 2.0ex;
  border-bottom: 1px solid #999;
}
.line-light {
  padding-bottom: 0.5ex;
  border-bottom: 1px solid #dadada;
}

.content-width {
  width: 100%;
}

.cover-image {
  background-repeat: no-repeat;
  height: 25ex;
  margin: 0 -15px;
}
.post-label {
  padding: 1.0ex 15px 1.0ex 15px;
}
.highlight {
  margin: 0 -15px;
  padding: 1.0ex 15px 1.0ex 15px;
}
.padded-bottom {
  padding-bottom: 9.0ex;
}
.white {
  color: #fff;
}
.blue {
  color: #00539B;
}
.purple {
  color: #4343ca;
}
.red {
  color: #cc3366;
}
.orange {
  color: #ff5545;
}
.blue-bg {
  color: #fff;
  background: #00539B;
}
.purple-bg {
  color: #fff;
  background: #4343ca;
}
.red-bg {
  color: #fff;
  background: #cc3366;
}
.orange-bg {
  color: #fff;
  background: #ff5545;
}
.grey-bg {
  color: #777;
  background: #f4f4f4;
}

.excerpt {
  border-bottom: 1px solid #dadada;
  padding-bottom: 2px;
  margin-bottom: 7.0ex;
}
.excerpts h2 {
  font-size: 0.7em;
}
.excerpts h3 {
  margin-bottom: 0;
}





.meta {
  color: #aaa;
}

.footer {
  font-size: 0.7em;
  color: #666;
  margin-top: 2em;
  overflow: hidden;
}
.footer a {
  color: #00539B;
}
.list-horizontal {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.list-horizontal > li {
  position: relative;
  display: block;
}
.list-horizontal > li > a {
  position: relative;
  display: block;
  padding: 10px 15px 10px 0;
}
.nav-footer > li {
  float: left;
  margin-top: -4px;
}
.nav-footer > li + li {
  margin-left: 2px;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}
.footer .rss img {
  border: 0;
}







/* Responsive media queries. */

/* MOBILE PORTRAIT 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	body {
    padding: 0;
  }
  .site {
    margin: 0 auto;
	}
  .cover-image {
    height: 30ex`;
    background-size: 100% auto;
  }
}


/* SMALL TABLET 600px */

@media only screen and (min-width: 37.5em) {
	body {
    padding-bottom: 13.5em;
	}
}


/* DESKTOP STYLES 640px */

@media only screen and (min-width: 40em) {
	body {
    padding-bottom: 12em;
	}
}

@media screen and (min-width: 40.5em) and (min-height: 50em) {
}

@media screen and (min-width: 40.5em) and (min-height: 32.5em) {

	/* LAYOUT */
  .main-content {
    width: 66%;
    float: right;
    margin-bottom: 7.5em;
    margin-top: 7em;
    margin-left: 2%;
	}

	header {
    position: fixed;
	}
}



/* TABLET/NETBOOK 744px */
@media only screen and (min-width: 46.5em) {
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP (1024PX) */
@media only screen and (min-width: 64em) {
}

/* DESKTOP */
@media only screen and (min-width: 80em) {
}

/*    W I D E S C R E E N    */
/* Increased body size for legibility */
@media only screen and (min-width: 87.5em) {
	body {
	}
}












/* Posts
/*
/*****************************************************************************/

.post {
  border-bottom: 1px solid #dadada;
  padding-bottom: 7.0ex;
  margin-bottom: 7.0ex;
}
.post img {
  max-width: 100%;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
.post ul, .post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre code {
  border: none;
}
/* terminal */

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}