{::nomarkdown}
<script type="text/javascript">
  var endpoint = 'https://api.fda.gov/drug/event.json?';
  var countTerm = '_exists_:receivedate';
</script>

<div id="api-demo-no-svg" class="api-demo" style="display:none">
  <h2>This browser doesn't support our interactive query tool and explorer.</h2>
  <p>Download and install the latest version of a standards-compliant browser like <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox,</a> <a href="https://www.google.com/chrome">Chrome,</a> or the latest version of <a href="http://www.microsoft.com/InternetExplorer">Internet Explorer.</a></p>
  <img src="{{ site.baseurl }}/assets/img/p_queryTool.png" alt="Image of interactive query tool." />
</div>

<div id="api-demo" class="api-demo">
  <div>
    <ul class="nav nav-pills api-demo-tabs">
      <li><span>Explore the data</span></li>
      <li class="active"><a href="#spontaneous" data-toggle="pill">Reports over time</a></li>
      <li><a href="#who-reports" data-toggle="pill">Who reports?</a></li>
      <li><a href="#classes" data-toggle="pill">Drug classes</a></li>
      <li><a href="#indications" data-toggle="pill">Drug indications</a></li>
      <li><a href="#reactions" data-toggle="pill">Reported reactions</a></li>
    </ul>
  </div>
  
  <div class="tab-content">

    <!-- STORY SPONTANEOUS REPORTS -->
    <div class="tab-pane fade in active" id="spontaneous">
      
      <!-- Description -->
      <div class="row">
        <div class="col-sm-12 description">
          <h2>Adverse drug event reports since 2004</h2>
          <p>This is the openFDA API endpoint for adverse drug events. An adverse event is submitted to the FDA to report any undesirable experience associated with the use of a drug, including serious drug side effects, product use errors, product quality problems, and therapeutic failures.</p>
          <p>Reporting of adverse events by healthcare professionals and consumers is voluntary in the United States. Increases in the total number of adverse events are likely caused by improved reporting. News, enforcement actions, and other phenomena can also spur reporting.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">
          
          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="spontaneous-all" value="receivedate:[20040101+TO+20160101]" checked />
                All adverse event reports
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="spontaneous-company-yes" value="receivedate:[20040101+TO+20150101]+AND+_exists_:companynumb" />
                Reported through manufacturers
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="spontaneous-company-no" value="receivedate:[20040101+TO+20150101]+AND+_missing_:companynumb" />
                Reported directly by public
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="spontaneous-hypertension" value="receivedate:[20040101+TO+20150101]+AND+patient.drug.drugindication:hypertension" />
                Where indication for drug use was hypertension
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">  
              <h4 id="result-count"></h4>
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">https://api.fda.gov/drug/event.json?</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control">receivedate:[20040101+TO+20150101]</textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">receivedate</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->


    <!-- STORY WHO REPORTS -->
    <div class="tab-pane fade in" id="who-reports">
      
      <!-- Description -->
      <div class="row">
        <div class="col-sm-12 description">
          <h2>Who reports adverse events?</h2>
          <p>The vast majority of adverse event reports are ultimately reported to FDA through drug product manufacturers. But those reports may first be initiated by consumers, health professionals, or others.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">
          
          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="who-reports-all" value="" />
                All adverse event reports
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="who-reports-company-yes" value="_exists_:companynumb" />
                Reported through manufacturers
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="who-reports-company-no" value="_missing_:companynumb" />
                Reported directly by public
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">  
              <h4 id="result-count"></h4>
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">https://api.fda.gov/drug/event.json?</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control"></textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">primarysource.qualification</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->


    <!-- STORY DRUG CLASSES -->
    <div class="tab-pane fade in" id="classes">
      
      <!-- Description -->
      <div class="row">
        <div class="col-sm-12">
          <h2>What classes of drugs are reported?</h2>
          <p>The seriousness of reported adverse events varies with the associated drugs. This chart shows the drug classes most often associated with adverse event reports. Use the buttons next to the chart to see the difference between reports involving serious reactions and less serious reactions.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">
          
          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="classes-all" value="" />
                All adverse event reports
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="classes-serious-1" value="serious:1" />
                Serious reactions
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="classes-serious-2" value="serious:2" />
                Less serious reactions
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">
              <h4 id="result-count"></h4> 
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">https://api.fda.gov/drug/event.json?</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control"></textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">patient.drug.openfda.pharm_class_epc.exact</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->


    <!-- STORY INDICATIONS FOR USE -->
    <div class="tab-pane fade in" id="indications">
      
      <!-- Description -->
      <div class="row">
        <div class="col-sm-12">
          <h2>What indications for use are frequently reported?</h2>
          <p>Drugs listed in adverse event reports often have an indication for use specified&mdash;a disease being treated, or a certain therapeutic goal. Use the buttons next to the chart to see how indications for use change with different search criteria.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">
          
          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="indications-all" value="" />
                All adverse event reports
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="indications-class-nsaid" value='patient.drug.openfda.pharm_class_epc:"nonsteroidal+anti-inflammatory+drug"' />
                Nonsteroidal anti-inflammatory drug class
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="indications-sex-f" value="patient.patientsex:2" />
                Females
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="indications-sex-f-5-to-17" value="patient.patientsex:2+AND+patient.patientonsetage:[5+TO+17]" />
                Females, age&nbsp;5&nbsp;to&nbsp;17
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="indications-sex-f-55-to-90" value="patient.patientsex:2+AND+patient.patientonsetage:[55+TO+90]" />
                Females, age&nbsp;55&nbsp;to&nbsp;90
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="indications-sex-m" value="patient.patientsex:1" />
                Males
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="indications-sex-m-5-to-17" value="patient.patientsex:1+AND+patient.patientonsetage:[5+TO+17]" />
                Males, age&nbsp;5&nbsp;to&nbsp;17
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="indications-sex-m-55-to-90" value="patient.patientsex:1+AND+patient.patientonsetage:[55+TO+90]" />
                Males, age&nbsp;55&nbsp;to&nbsp;90
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">
              <h4 id="result-count"></h4> 
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">https://api.fda.gov/drug/event.json?</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control"></textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">patient.drug.drugindication.exact</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->


    <!-- STORY REACTIONS -->
    <div class="tab-pane fade in" id="reactions">
      
      <!-- Description -->
      <div class="row">
        <div class="col-sm-12">
          <h2>What adverse reactions are frequently reported?</h2>
          <p>Adverse reactions range from product quality issues to very serious outcomes, including death. Use the buttons next to the chart to see how reported reactions vary with different search criteria.</p>
          <p>There is no certainty that a reported event (adverse reaction or medication error) was actually due to a product. FDA does not require that a causal relationship between a product and event be proven, and reports do not always contain enough detail to properly evaluate an event.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">
          
          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reactions-all" value="" />
                All adverse event reports
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reactions-class-nsaid" value='patient.drug.openfda.pharm_class_epc:"nonsteroidal+anti-inflammatory+drug"' />
                Nonsteroidal anti-inflammatory drug class
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reactions-sex-f-5-to-17" value="patient.patientsex:2+AND+patient.patientonsetage:[5+TO+17]" />
                Females, age&nbsp;5&nbsp;to&nbsp;17
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reactions-sex-f-55-to-90" value="patient.patientsex:2+AND+patient.patientonsetage:[55+TO+90]" />
                Females, age&nbsp;55&nbsp;to&nbsp;90
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reactions-sex-m" value="patient.patientsex:1" />
                Males
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reactions-sex-m-5-to-17" value="patient.patientsex:1+AND+patient.patientonsetage:[5+TO+17]" />
                Males, age&nbsp;5&nbsp;to&nbsp;17
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reactions-sex-m-55-to-90" value="patient.patientsex:1+AND+patient.patientonsetage:[55+TO+90]" />
                Males, age&nbsp;55&nbsp;to&nbsp;90
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">
              <h4 id="result-count"></h4> 
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">https://api.fda.gov/drug/event.json?</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control"></textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">patient.reaction.reactionmeddrapt.exact</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->
  </div>  
</div>
{:/}
