{::nomarkdown}
<script type="text/javascript">
  var endpoint = '{{ site.apiurl }}{{ include.endpoint }}.json?';
  var countTerm = '_exists_:product_code';
</script>

<div id="api-demo-no-svg" class="api-demo" style="display:none">
  <h2>This browser doesn't support our interactive query tool and explorer.</h2>
  <p>Download and install the latest version of a standards-compliant browser like <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox,</a> <a href="https://www.google.com/chrome">Chrome,</a> or the latest version of <a href="http://www.microsoft.com/InternetExplorer">Internet Explorer.</a></p>
  <img src="{{ site.baseurl }}/assets/img/p_queryTool.png" alt="Image of interactive query tool." />
</div>

<div id="api-demo" class="api-demo">
  <div>
    <ul class="nav nav-pills api-demo-tabs">
      <li><span>Explore the data</span></li>
      <li class="active"><a href="#clearance-advisory" data-toggle="pill">By advisory committee</a></li>
      <li><a href="#clearance-country" data-toggle="pill">By country</a></li>
    </ul>
  </div>

  <div class="tab-content">

    <!-- STORY BY COUNTRY -->
    <div class="tab-pane fade in" id="clearance-country">

      <!-- Description -->
      <div class="row">
        <div class="col-sm-12 description">
          <h2>Device 510(k) by country</h2>
          <p>The country listed on the postal delivery address of the applicant.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">

          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-country-all" value="" checked />
                All 510(k)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-country-not-us" value="country_code:(NOT US)" />
                All 510(k) except <em>US</em>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-country-anesthesiology" value="advisory_committee:AN+AND+country_code:(NOT US)" />
                Advisory committee set to <em>Anesthesiology</em> and Country <em>not US</em>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-country-class" value="openfda.device_class:3+AND+country_code:(NOT US)" />
                Device class <em>III</em> and <em>Not US</em>
              </label>
            </div>


            <!-- Coverage chart -->
            <div class="chart coverage">
              <h4 id="result-count"></h4>
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">{{ site.apiurl }}/device/clearance.json?</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control"></textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">country_code</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->



<!-- STORY ADVISORY COMMITTEE -->

  <div class="tab-pane fade in active" id="clearance-advisory">
      <!-- Description -->
      <div class="row">
        <div class="col-sm-12">
          <h2>Device 510(k) by advisory committee</h2>
          <p>The advisory committee is the code under which the product was originally classified, based on the product code. This is a historical designation for the group that initially placed a device into Class I, Class II, or Class III following the medical device amendments of May 28, 1976.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">

          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-advisory" value="" checked />
                All 510(k)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-advisory-type" value='clearance_type:Traditional' />
                Clearance type <em>Traditional</em>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-advisory-decision" value='decision_description:Substantially Equivalent' />
                Decision type is <em>Substantially Equivalent</em>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-advisory-class" value='openfda.device_class:1' />
                Device class <em>I</em> (generally less risk to patients)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="clearance-advisory-class" value='openfda.device_class:3' />
                Device class <em>III</em> (generally more risk to patients)
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">
              <h4 id="result-count"></h4>
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">{{ site.apiurl }}/device/510k.json?</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control"></textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">advisory_committee_description</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY ADVISORY COMMITTEE -->
  </div>
</div>
{:/}
