{::nomarkdown}
<script type="text/javascript">
  var endpoint = 'https://api.fda.gov/drug/label.json?';
  var countTerm = '_exists_:effective_time';
</script>

<div id="api-demo-no-svg" class="api-demo" style="display:none">
  <h2>This browser doesn't support our interactive query tool and explorer.</h2>
  <p>Download and install the latest version of a standards-compliant browser like <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox,</a> <a href="https://www.google.com/chrome">Chrome,</a> or the latest version of <a href="http://www.microsoft.com/InternetExplorer">Internet Explorer.</a></p>
  <img src="{{ site.baseurl }}/assets/img/p_queryTool.png" alt="Image of interactive query tool." />
</div>

<div id="api-demo" class="api-demo">
  <div>
    <ul class="nav nav-pills api-demo-tabs">
      <li><span>Explore the data</span></li>
      <li class="active"><a href="#reports" data-toggle="pill">Submissions over time</a></li>
      <li><a href="#routes" data-toggle="pill">Routes of administration</a></li>
      <li><a href="#interactions" data-toggle="pill">Drug interactions</a></li>
    </ul>
  </div>

  <div class="tab-content">

    <!-- STORY SPONTANEOUS REPORTS -->
    <div class="tab-pane fade in active" id="reports">

      <!-- Description -->
      <div class="row">
        <div class="col-sm-12 description">
          <h2>Prescription and over-the-counter (OTC) drug labeling</h2>
          <p>The openFDA drug product labeling API provides data for prescription and over-the-counter (OTC) drug labeling. Since mid-2009, labeling has been posted publicly in the <a href="http://labels.fda.gov/">Structured Product Labeling (SPL)</a> format.</p>
          <p>This chart shows labeling submissions over time, by looking at their &quot;effective dates.&quot; The search is limited to dates since June 2009, which excludes a small number of older submissions.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">

          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reports-all" value="effective_time:[20090601+TO+20150731]" checked />
                All drug labeling submissions
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reports-otc" value="effective_time:[20090601+TO+20150731]+AND+openfda.product_type:otc" />
                Over-the-counter drug labeling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reports-rx" value="effective_time:[20090601+TO+20150731]+AND+openfda.product_type:prescription" />
                Prescription drug labeling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reports-lactose" value="effective_time:[20090601+TO+20150731]+AND+inactive_ingredient:lactose" />
                Lactose is an inactive ingredient
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="reports-lactose" value="effective_time:[20090601+TO+20150731]+AND+_exists_:boxed_warning" />
                Labeling has a <a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfCFR/CFRSearch.cfm?fr=201.57">Boxed Warning</a>
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">
              <h4 id="result-count"></h4>
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">https://api.fda.gov/drug/label.json?search=effective_time:[20090601+TO+20150731]</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control">effective_time:[20090601+TO+20150731]</textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">effective_time</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->


    <!-- STORY ROUTES? -->
    <div class="tab-pane fade in" id="routes">

      <!-- Description -->
      <div class="row">
        <div class="col-sm-12 description">
          <h2>Routes of administration</h2>
          <p>Most drug product labeling describes a drug with a single route of administration&mdash;oral, intravenous, topical, and so forth. Click the buttons below to see the top routes of administration noted in various kinds of drug product labeling.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">

          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="routes-all" value="" />
                All drug labeling submissions
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="routes-otc" value="openfda.product_type:otc" />
                Over-the-counter drug labeling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="routes-rx" value="openfda.product_type:prescription" />
                Prescription drug labeling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="routes-indication-skin" value='indications_and_usage:"migraine"+purpose:"migraine"' />
                Indication or purpose notes the word <em>migraine</em>
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="routes-boxed-bleeding" value="boxed_warning:bleeding" />
                Labeling has a <a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfCFR/CFRSearch.cfm?fr=201.57">Boxed Warning</a> with the word <em>bleeding</em> in it
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">
              <h4 id="result-count"></h4>
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">https://api.fda.gov/drug/label.json</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control"></textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">openfda.route.exact</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->


    <!-- STORY INTERACTIONS -->
    <div class="tab-pane fade in" id="interactions">

      <!-- Description -->
      <div class="row">
        <div class="col-sm-12">
          <h2>Drug interactions noted in labeling</h2>
          <p>Drug product labeling must indicate known interactions with foods and other drug products. This chart shows top classes of drugs whose labeling notes caffeine, grapefruit, or alcohol in the interactions section.</p>
        </div>
      </div>

      <!-- Chart -->
      <div class="row">
        <div class="col-sm-3">

          <!-- Radio buttons -->
          <div class="api-query-control">
            <h4>Filter</h4>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="interactions-caffeine" value="drug_interactions:caffeine" />
                Labeling noting <em>caffeine</em> in the interactions section
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="interactions-grapefruit-juice" value='drug_interactions:"grapefruit+juice"' />
                Labeling noting <em>grapefruit juice</em> in the interactions section
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="api-query-options-search" id="interactions-alcohol" value="drug_interactions:alcohol" />
                Labeling noting <em>alcohol</em> in the interactions section
              </label>
            </div>

            <!-- Coverage chart -->
            <div class="chart coverage">
              <h4 id="result-count"></h4>
              <div id="chart-coverage"></div>
            </div>
          </div>
        </div>

        <!-- Chart -->
        <div class="chart results col-sm-9">
          <div id="chart"></div>
        </div>
      </div>

      <!-- Query fields -->
      <div class="row">
        <div class="col-sm-12">
          <h3 class="what-query">What API query produced these results?</h3>
          <pre id="query-endpoint">https://api.fda.gov/drug/label.json?count=openfda.pharm_class_epc.exact</pre>
        </div>
      </div>

      <div class="row">
        <!-- Search -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">search=</a> parameter</div>
          <textarea id="query-search" class="query-textarea form-control"></textarea>
        </div>

        <!-- Count -->
        <div class="col-sm-6">
          <div class="api-query-parameter"><a href="{{site.baseurl}}/api/reference/#query-syntax">count=</a> parameter</div>
          <textarea id="query-count" class="query-textarea form-control">openfda.pharm_class_epc.exact</textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-10">
            <button id="query-button" class="form-control btn btn-primary">Run query</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END STORY -->

  </div>
</div>
{:/}
