## Anatomy of a response

This is a simulated openFDA API return for a non-`count` query. It is divided into two high-level sections, `meta` and `results`.

{% highlight javascript %}
{
  "meta": {
    "disclaimer": "openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.",
    "license": "http://open.fda.gov/license",
    "last_updated": "2014-08-01",
    "results": {
      "skip": 0,
      "limit": 1,
      "total": 1355
    }
  },
  "results": [
    {
      ...
    }
  ]
}
{% endhighlight %}

### Meta

For non-`count` queries, the `meta` section includes a disclaimer, a link to the openFDA data license, and information about the results that follow. 

{% highlight javascript %}
"meta": {
  "disclaimer": "openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.",
  "license": "http://open.fda.gov/license",
  "last_updated": "2014-08-01",
  "results": {
    "skip": 0,
    "limit": 1,
    "total": 1355
}
{% endhighlight %}

`meta.disclaimer`
: **string**
: Important details about the openFDA beta and limitations of the dataset.

`meta.license`
: **string**
: Link to a web page with license terms that govern data within openFDA.

`meta.last_updated`
: **string**
: The last date when openFDA was updated. Note that this does not correspond to the last report date in the system. Rather, it is the last time openFDA received a system or data update.

`meta.results.skip`
: **integer**
: Offset (page) of results, defined by the `skip` [query parameter]({{ site.baseurl }}/api/reference/#query-parameters).

`meta.results.limit`
: **integer**
: Number of records in this return, defined by the `limit` [query parameter]({{ site.baseurl }}/api/reference/#query-parameters). If there is no `limit` parameter, the API returns one result.

`meta.results.total`
: **integer**
: Total number of records matching the search criteria.