{::nomarkdown}
<div class="api-status" data-endpoint={{include.endpoint}}>
  <div class="wrap">
    <h2 class="name">
      {{ include.name }}<br />
      <a class="url" href="https://api.fda.gov{{ include.endpoint }}" target="_blank">api.fda.gov{{ include.endpoint }}</a>
    </h2>
    <div class="metrics">
      <div>
        <small>Status</small>
        <span class="status metric"></span>
      </div>
      <div class="metric">
        <small>Last updated</small>
        <span class="updated"></span>
      </div>
    </div>
  </div>
</div>
{:/}