<div class="row author">
  <div class="col-xs-12 col-sm-6">
    <div class="author-mug">
      <span class="sr-only">Picture of post author, {{ page.author }}</span>
      <span class="author-image"></span><br />
    </div>

    <div>
      {% if page.author_bio %}
        {{ page.author_bio }}<br /><br />
      {% endif %}

      {% if page.author_email %}
        <a href="mailto:{{ page.author_email }}" title="Email the author of this article, {{ author.name }}">{{ page.author_email }}</a>
      {% endif %}

      {% if page.author_email and page.author_twitter %}
        |
      {% endif %}

      {% if page.author_twitter %}
        <a href="http://twitter.com/{{ page.author_twitter }}" title="Twitter page for the author of this article, {{ page.author }}">@{{ page.author_twitter }}</a>
      {% endif %}
    </div>
  </div>
</div>