<div class="beta-notice alert alert-warning">
    <div class="beta-notice-content">
      <span class="beta-notice-title"><i class="fa fa-exclamation-triangle"></i> We're in beta!</span>
      <span class="beta-notice-text">openFDA is a beta research project and not for clinical use. We may limit or otherwise restrict your access to the API in line with our <a href="{{ site.baseurl }}/terms/">Terms of Service</a>. <em><strong>Need help?</strong> Try <a href="https://opendata.stackexchange.com/questions/ask?tags=openFDA">StackExchange</a></em></span>
  </div>
</div>