<div class="beta-notice">
  <div class="beta-notice-content">
    <div class="alert alert-warning">
      <strong><i class="fa fa-exclamation-triangle"></i>We're in beta!</strong>
      <span class="beta-notice-text">openFDA is a beta research project and not for clinical use. We may limit or otherwise restrict your access to the API in line with our <a href="{{ site.baseurl }}/terms/">Terms of Service</a>.
      <br/><br/>
      <strong><i class="fa fa-exclamation-triangle"></i>Non-HTTPS API Access Deprecated.</strong>
      <span class="beta-notice-text">Accessing the API via <strong>http</strong>://api.fda.gov is deprecated and will go away on April 4th, 2016. Please switch to <strong>https</strong>://api.fda.gov before this time. If you have any questions, please email <a href="mailto:open@fda.hhs.gov">open@fda.hhs.gov</a>.
    </div>
  </div>
</div>