<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

<style type="text/css">
  @font-face {
    font-family: 'openfda';
    src:url('{{ site.baseurl }}/fonts/openfda.eot?-3wnx8q');
    src:url('{{ site.baseurl }}/fonts/openfda.eot?#iefix-3wnx8q') format('embedded-opentype'),
      url('{{ site.baseurl }}/fonts/openfda.woff?-3wnx8q') format('woff'),
      url('{{ site.baseurl }}/fonts/openfda.ttf?-3wnx8q') format('truetype'),
      url('{{ site.baseurl }}/fonts/openfda.svg?-3wnx8q#openfda') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .logo {
    background: url('{{ site.baseurl }}/images/l_openFDA.png');
    width: 158px;
    height: 36px;
  }
  .logo-fda {
    background: url('{{ site.baseurl }}/images/l_FDA.png');
    width: 62px;
    height: 25px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .logo {
      background-image: url('{{ site.baseurl }}/images/l_openFDA@2x.png');
      background-size: 158px 36px;
    }
    .logo-fda {
      background-image: url('{{ site.baseurl }}/images/l_FDA@2x.png');
      background-size: 62px 25px;
    }
  }
  .cover-image {
    background-image: url('{{ site.baseurl }}/images/{{ page.cover }}');
  }
</style>