{::nomarkdown}
<div class="drug-adverse-event-illustration">
  <table>
    <tr>
      <td colspan="2">
        <h3>Header information <span style="font-size: 12px">Report ID, receive date, etc.</span></h3>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Patient information <span style="font-size: 12px">Age, weight, sex, etc.</span></h3>
      </td>
    </tr>
    <tr>
      <td class="drugs">
        <h3>Drugs</h3>
        <p>Drug A <small>suspect</small></p>
        <p>Drug B <small>suspect</small></p>
        <p>Drug C <small>suspect</small></p>
        <p>Drug D <small>concomitant</small></p>
        <p>Drug E <small>concomitant</small></p>
      </td>
      <td class="reactions">
        <h3>Patient reactions</h3>
        <p>Reaction 1</p>
        <p>Reaction 2</p>
        <p>Reaction 3</p>
      </td>
    </tr>
  </table>
</div>
{:/}
