{::nomarkdown}
<div class="drug-adverse-event-illustration">
  <div class="row">
    <div class="header col-sm-12">
      <h3>Header information <span style="font-size: 12px">Report ID, receive date, etc.</span></h3>
    </div>
  </div>
   <div class="row">
    <div class="patient col-sm-12">
      <h3>Patient information <span style="font-size: 12px">Age, weight, sex, etc.</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="patient-drugs col-sm-6">
      <h3>Patient drugs</h3>
      <p>Drug A <small>suspect</small></p>
      <p>Drug B <small>suspect</small></p>
      <p>Drug C <small>suspect</small></p>
      <p>Drug D <small>suspect</small></p>
      <p>Drug E <small>concomitant</small></p>
    </div>
    <div class="patient-reactions col-sm-6">
      <h3>Patient reactions</h3>
      <p>Reaction 1</p>
      <p>Reaction 2</p>
      <p>Reaction 3</p>
    </div>
  </div>
</div>
{:/}
