<table class="table endpoint-table">
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>Description</th>
      <th>Docs</th>
    </tr>
  </thead>
  <tbody>
    {% for endpoint in include.endpoints %}
    <tr>
      <td class="endpoint">{{ endpoint.endpoint }}</td>
      <td>{{ endpoint.description }}</td>
      <td>{% if endpoint.docs %}
        <ul>
          {% for doc in endpoint.docs %}
          <li><a href="{{ site.baseurl}}{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
