<footer>
  <div class="row footer footer-heading">
    <div class="col-sm-12 col-md-3">
      <a class="logo logo-fda" title="FDA Home Page" href="http://www.fda.gov/"></a>
    </div>
    <div class="col-sm-12 col-md-9">
      <ul class="list-horizontal nav-footer">
        <li><a href="http://www.fda.gov/" title="FDA Home Page">FDA Home</a></li>
        <li><a href="http://www.fda.gov/AboutFDA/AboutThisWebsite/Accessibility/default.htm" title="Accessibility">Accessibility</a></li>
        <li><a href="http://www.fda.gov/AboutFDA/WorkingatFDA/default.htm" title="Careers">Careers</a></li>
        <li><a href="http://www.fda.gov/AboutFDA/Transparency/Basics/default.htm" title="FDA Basics">FDA Basics</a></li>
        <li><a href="http://www.fda.gov/RegulatoryInformation/FOI/default.htm" title="Freedom of Information Act">FOIA</a></li>
        <li><a href="http://www.fda.gov/AboutFDA/WorkingatFDA/NoFearAct/default.htm" title="No Fear Act">No Fear Act</a></li>
        <li><a href="http://www.fda.gov/SiteMap/default.htm" title="Site Map">Site Map</a></li>
        <li><a href="http://www.fda.gov/AboutFDA/Transparency/default.htm" title="Transparency">Transparency</a></li>
        <li><a href="http://www.fda.gov/AboutFDA/AboutThisWebsite/WebsitePolicies/default.htm" title="Website Policies">Website Policies</a></li>
      </ul>
    </div>
  </div>
  <div class="row footer footer-content">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <address>
            <strong>U.S. Food and Drug Administration</strong><br>
            10903 New Hampshire Avenue<br>
            Silver Spring, MD 20993<br>
            <span class="icon-phone" aria-hidden="true"></span> 1-888-INFO-FDA (1-888-463-6332)<br>
            <span class="icon-envelope-alt" aria-hidden="true"></span> <a href="http://www.fda.gov/AboutFDA/ContactFDA/default.htm" title="Contact FDA" > Contact FDA</a>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
        var _gaq=[['_setAccount','UA-22737364-16'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>