<div class="row hidden-md hidden-lg">
  <div class="header col-sm-12">
    <div class="row">
      <div class="col-xs-4">
        <p class="blue"><strong>Open data</strong><br />
        Easier and better access to structured FDA data.</p>
        <p>Developer-focused APIs, raw data, and documentation for a curated set of high value publically available FDA datasets.</p>
      </div>
      <div class="col-xs-4">
        <p class="red"><strong>Open source</strong><br />
        Code and documentation.</p>
        <p>Open source API code and documentation, shared on GitHub.</p>
      </div>
      <div class="col-xs-4">
        <p class="orange"><strong>Open community</strong><br />
        Share examples, apps, and stories.</p>
        <p>Developers, researchers, the public, and FDA in one shared community on <a href="http://github.com/FDA">GitHub</a>, StackExchange, and Twitter to best utilize these datasets.</p>
      </div>
    </div>
  </div>
</div>

