<div class="row">
  <div class="header col-sm-12 col-md-9 col-md-offset-3">
    <div class="row">
      <div class="col-xs-4">
        <p class="blue"><strong>Open data.</strong><br />
        Easier and better access to structured FDA data.</p>
        <p>APIs, raw data, and articulate documentation for a curated set of high value public datasets.</p>
        <p><a href="#">More about openFDA&nbsp;&raquo;</a></p>
      </div>
      <div class="col-xs-4">
        <p class="red"><strong>Open source.</strong><br />
        Code, apps, and stories.</p>
        <p>Our API code will be open source. We’ll highlight public and private projects that use openFDA data to further scientific research, educate, and save lives.</p>
      </div>
      <div class="col-xs-4">
        <p class="orange"><strong>Open community.</strong><br />
        A community that includes FDA.</p>
        <p>Using GitHub, StackExchange, and Twitter, developers, journalists, the public, and FDA can work together to best utilize these datasets.</p>
      </div>
    </div>
  </div>
</div>