<nav role="navigation" class="site-navigation main-nav">
  <ul>
    <li><a href="{{ site.baseurl }}/about/">About</a></li>
    <li><a href="{{ site.baseurl }}/updates/">Updates</a></li>
    <li><a href="{{ site.baseurl }}/api/reference/">API basics</a> | <a href="{{ site.baseurl }}/api/status/">API status</a></li>

    <li class="nav-section">
      <ul>
        {% if page.url contains "/drug/" %}
          <li class="active"><a href="{{ site.baseurl }}/drug/event/">Drugs</a></li>
          <li>
            <ul class="submenu">
              <li><a href="{{ site.baseurl }}/drug/event">Adverse events</a> | <a href="{{ site.baseurl }}/drug/event/reference">Reference</a></li>
              <li><a href="{{ site.baseurl }}/drug/label">Labeling</a> | <a href="{{ site.baseurl }}/drug/label/reference">Reference</a></li>
              <li><a href="{{ site.baseurl }}/drug/enforcement">Enforcement reports</a> | <a href="{{ site.baseurl }}/drug/enforcement/reference">Reference</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ site.baseurl }}/drug/event/">Drugs</a></li>
        {% endif %}

        {% if page.url contains "/device/" %}
          <li class="active"><a href="{{ site.baseurl }}/device/event/">Devices</a></li>    
          <li>
            <ul class="submenu">
              <li><a href="{{ site.baseurl }}/device/event">Adverse events</a> | <a href="{{ site.baseurl }}/device/event/reference">Reference</a></li>
              <li><a href="{{ site.baseurl }}/device/enforcement">Enforcement reports</a> | <a href="{{ site.baseurl }}/device/enforcement/reference">Reference</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ site.baseurl }}/device/event/">Devices</a></li>
        {% endif %}

        {% if page.url contains "/food/" %}
          <li><a href="{{ site.baseurl }}/food/enforcement/">Foods</a></li>    
          <li>
            <ul class="submenu">
              <li><a href="{{ site.baseurl }}/food/enforcement">Enforcement reports</a> | <a href="{{ site.baseurl }}/food/enforcement/reference">Reference</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ site.baseurl }}/food/enforcement/">Foods</a></li>
        {% endif %}
      </ul>
    </li>
  </ul>
</nav>