<div>
	<ul class="social">
    <li class="facebook"><a href="" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;">Share on Facebook</a></li>
    <li class="twitter"><a href="" onclick="return popUpWindow('https://twitter.com/share', '512', '256', window.location)">Share on Twitter</a></li>
    <li class="googleplus"><a href="" onclick="return popUpGooglePlus(window.location)">Share on Google+</a></li>
    <li class="linkedin"><a href="" onclick="return popUpLinkedIn(window.location, document.title)">Share on LinkedIn</a></li>
  </ul>
</div>
