.drill-down-header {
    padding-bottom: 10px;
}

 .custom-tooltip {
     background-color: white;
     padding: 15px
 }

.custom-tooltip > p {
    margin-bottom: 0
}

.documents-download {
    border: 1px solid #ccc;
    padding: 20px 0px 20px 30px;
    margin-left: 20px;
}

.documents-download ul {
    height: 150px
}