.blog-cards, .blog-list
  display: flex
  position: relative
  align-items: center

.blog-cards
  flex-direction: column

  .blog-container
    flex-direction: row

  .blog-item
    width: 23%
    min-width: 320px
    height: 224px
    margin: 20px 10px 10px 20px

  .blog-item:hover
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
    transform: translateY(-4px)

  .blog-text-item
    padding: 40px
    flex-direction: column


.blog-list
  flex-direction: column
  padding-left: 20px
  width: 100%

  > div
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%
    background: white
    padding: 20px
    border: solid thin #ccc

  .blog-container
    flex-direction: column
    width: 100%

  .blog-item
    width: 100%
    border: solid thin #ccc

  .blog-text-item
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 20px

    div
      display: flex
      flex-direction: column

    p
      margin-bottom: 0

.blog-container
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap

.blog-item
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px
  transition: all 0.2s linear
  border-radius: 6px
  background: white

.blog-header
  font-size: 18px
  line-height: 22px

.blog-text-item
  display: flex
  
.time-stamp
  font-size: 13px
  font-weight: bold
  color: #9499a5
  letter-spacing: 1px