@use '../vars';

@media (min-width: $bpTab) {
	.infographic-container {
		max-width: 1100px;
		width: 100%;
	}
}

@media (max-width: $bpMob) {
	.donut-wrap {
		flex-wrap: wrap;
	}
}

@media (min-width: $bpTabRange1) and (max-width: $bpTabRange2) {
	.donut-wrap {
		flex-wrap: wrap;
	}
}

@media (min-width: $bpDesk) {
	.donut-legend {
		border-left: 1px solid $clrGrayLighter;
	}
}