@media $bpTab
  .infographic-container
    max-width: 1100px
    width: 100%

@media $bpMob
  .donut-wrap
    flex-wrap: wrap

@media $bpTabRange
  .donut-wrap
    flex-wrap: wrap

@media $bpDesk
  .donut-legend
    border-left: 1px solid $clrGrayLighter
