@use '../vars';

@media (min-width: vars.$bpTab) {
	.content {
		float: right;
		width: 75%;
	}

	.content-wrapper {
		display: flex;
	}

	.ref-content {
		width: calc(100% - 250px);
	}
}

@media (min-width: vars.$bpDesk) {
	.ref-content {
		width: 75%;
	}
}