.data-view-toggle {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  margin: 0 150px 0;
  cursor: pointer;

  > div {
    padding: 15px;
  }

  > div:first-child {
    border-radius: 5px 0 0 5px;
  }

  > div:last-child {
    border-radius: 0 5px 5px 0;
  }

  > .selected {
    background-color: #017bba;
    border: 1px solid #017bba;
    color: white;
  }

  > .unselected {
    border: 1px solid #cccccc;

    i {
      color: #00aaff
    }
  }

  span {
    padding-left: 7px;
    font-weight: 600;
  }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .data-view-toggle {
    position: inherit;
  }
}
