.data-view-toggle
  display: flex
  flex-direction: row
  margin-left: 40px
  border-radius: 5px
  border-style: solid
  border-width: 2px
  border-color: #BFD4DF
  cursor: pointer

  > div:first-child
    border-right: 2px solid #BFD4DF

  div
    padding: 15px

  i
    color: #0af

  span
    padding-left: 7px
    font-weight: bold

.grey-background
  background-color: #F2F6F8