.dataset-explorer-infographic-menubar
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 40px 20px 40px
  width: 100%
  background-color: white
  border-bottom-width: 1px
  border-bottom-style: solid
  border-bottom-color: #BFD4DF

  > em
    font-weight: bold
    padding-right: 5px
    margin-left: 40px

  > .Select
    height: 36px
    width: 300px

    > div > *:last-child
      padding-top: 2px

.dataset-explorer-infographic-select-bar
  display: flex
  align-items: center
  justify-content: space-between
  width: 87%
  padding-bottom: 10px

  > em
    font-weight: bold
    padding-right: 5px

  > .Select
    margin-right: 30px
    height: 36px
    width: 300px

    > div > *:last-child
      padding-top: 2px

  .Select-placeholder, .Select--single > .Select-control .Select-value
    color: #333

  .show-top-results
    margin-left: 10px

    > div
      white-space: nowrap

      > input
        margin-right: 8px

.dataset-explorer-content
  position: relative
  height: 100%
  width: 77%
  background-color: #F2F5F7
  -webkit-transition: .3s
  -moz-transition: .3s
  -ms-transition: .3s
  -o-transition: .3s
  transition: .3s

  .chart-background
    height: 100%
    width: 90%
    margin-top: 18px
    padding: 15px
    background: #fff
    border-width: 1px
    border-style: solid
    border-color: #bfd4df

  .bar-chart-background
    padding-left: 0px

  .line-legend
    display: flex
    flex-wrap: wrap

    .legend-item
      display: inline-flex
      padding-bottom: 5px
      padding-right: 20px

      > span
        height: 12px
        width: 12px
        display: inline-block

      > text
        font-family: Gill Sans
        font-size: 14px
        margin-left: 5px

.dataset-explorer-results
  height: 100%
  padding: 15px 0 15px 30px

  .blur
    filter: blur(1.5px)

  .ReactTable .-pagination input, .ReactTable .-pagination select
    padding: 5px 17px

  .ReactTable .rt-thead.-header
    padding-top: 8px

  .ReactTable .rt-thead .rt-tr
    text-align: left
    padding: 0

  .ReactTable .rt-thead .rt-resizable-header-content
    font-weight: bold
    font-family: Merriweather, Georgia, serif
    color: #00517d
    font-size: 70%

  .ReactTable .rt-table
    background-color: white
    overflow: hidden !important

  .ReactTable .rt-tbody
    min-width: 0px !important

  .ReactTable .rt-thead
    min-width: 0px !important
    overflow: hidden !important

.ReactTable .rt-thead.-filters
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.08)

  .ReactTable .rt-thead.-header
    box-shadow: none

  .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td
    padding: 5px 10px

  .ReactTable .rt-th, .ReactTable .rt-td
    padding: 12px 10px
    line-height: 1.2

  .ReactTable .rt-expander:after
    border-top: 7px solid #017bba

  .custom-tooltip
    background-color: white
    padding: 15px

    p
      margin-bottom: 0

.dataset-table-menubar
  display: flex
  align-items: center
  justify-content: space-between
  padding-bottom: 7px

  > div:first-child
    display: flex

  .collapse-rows
    color: #017bba
    font-weight: bold
    text-align: center

    &:hover
      color: #0c509b

  .Select-placeholder, .Select--single > .Select-control .Select-value
    color: #333

.dataset-overlay
  background: rgba(0,0,0,0.5)
  position: absolute
  top: 0
  left: 0
  width: calc(100% + 30px)
  height: 100%
  z-index: 2

.content-selected-filters
  height: 100%
  padding-bottom: 25px

  > div
    padding-top: 10px

    > a
      padding-left: 10px
      text-decoration: underline
      font-weight: bold

    .content-selected-filter
      padding: 5px 10px
      border-radius: 35px
      box-shadow: 0 0 0 1px #bfd4df;
      background-color: #fff;
      margin-right: 7px;
      margin-top: 10px;

      span
        padding-right: 10px

      i
        color: #ef4205
        font-size: 16px