.dataset-explorer
  display: flex
  flex-wrap: wrap

.dataset-explorer-menubar
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 40px 20px 40px
  width: 100%
  background-color: white
  border-bottom-width: 1px
  border-bottom-style: solid
  border-bottom-color: #BFD4DF

  > em
    font-weight: bold
    padding-right: 5px
    margin-left: 40px

  > .Select
    height: 36px
    width: 300px

    > div > *:last-child
      padding-top: 2px

  .filter-toggle-button
    background: #F2F5F7
    color: #5990AC
    padding: 15px 8px
    border-radius: 3px
    border-width: 1px
    border-style: solid
    border-color: #BFD4DF
    cursor: pointer

    i:first-child
      margin-right: 5px
      -webkit-transition: .5s
      -moz-transition: .5s
      -ms-transition: .5s
      -o-transition: .5s
      transition: .5s

  > i
    color: #94b2ce
    cursor: pointer
    transition: .2s linear

    &:hover
      color: #017bba


// The main container element
.Collapsible {
  background-color: white
  margin-bottom:20px
  width: 100%
}


//The content within the collaspable area
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid white;
  border-color: #00517d
  border-bottom-right-radius:5px
  border-bottom-left-radius:5px
  border-top:0px
  padding: 10px;
  background-color: white
  color: #00517d;
  height: 420px;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  border-color: #00517d
  border-top-right-radius:5px
  border-top-left-radius:5px
  padding: 10px;
  background-color: white
  color: #00517d;

  &:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
  
  
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}

.collapsible-container
  width: 425px
  height: 340px

.infographic-title-div
  height: 25

.infographic-barchart-title
  padding-left: 590px
