.dataset-table-menubar
  height: 40px
  display: flex
  justify-content: space-between
  padding-top: 35px
  padding-bottom: 43px

  > div
    display: flex

.dataset-overlay
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 30px);
  height: 100%;
  z-index: 2;