.day-picker
  p
    margin-bottom: 10px

.day-picker-container
  margin-bottom: 10px

  input
    font-size: 10px
    padding-left: 10px
    height: 30px
    width: 250px
    border-radius: 3px
    border-style: solid
    border-width: 1px
    border-color: #BFD4DF