@use '../vars';

.modal-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	z-index: 1050;
}

.modal-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 380px;
	width: 80%;
	min-width: 320px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	overflow: auto;
	outline: none;
}

.modal-container button {
	margin: 15px auto;
	width: 100px;
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.modal-body {
	padding: 15px 15px 0;
}

.modal-body span {
	line-height: 20px;
}

@media (max-width: vars.$tablet) {
	.modal-container {
		height: 250px;
	}
}

@media (max-width: vars.$bpMob) {
	.modal-container {
		height: 320px;
	}
}