@use '../vars';

.doc-container {
	width: 100%;
	height: 100%;
}

.sticky-padding {
	padding-top: 76px;
}

.fixed-padding {
	padding-left: 300px;
}

.markdown-content {
	padding: 2.1rem 1.05rem;
	padding-bottom: 4.9rem;
	display: block;
	font-size: 17px;
	line-height: 25.2px;
}

.markdown-content p,
.markdown-content ul,
.markdown-content ol,
.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
	margin-bottom: 1.05rem;
}

.markdown-content h3 {
	margin-top: 2.1rem;
}

.markdown-content ul,
.markdown-content ol {
	margin-top: 1.05rem;
}

.markdown-content ul {
	padding-left: 1.4rem;
}

.markdown-content li {
	display: list-item;
	list-style-type: disc;
	list-style-position: outside;
	margin-bottom: calc(1.05rem / 2);
}

.doc-content {
	padding: 2.1rem 1.05rem;
	padding-bottom: 4.9rem;
	display: block;
	font-size: 18px;
	line-height: 25.2px;
}

.doc-content > p,
.doc-content > ul,
.doc-content > ol,
.doc-content > h2,
.doc-content > h3 {
	margin-bottom: 1.05rem;
}

.doc-content > h3 {
	margin-top: 2.1rem;
}

.doc-content > ul,
.doc-content > ol {
	margin-top: 1.05rem;
}

.doc-content > ul > li,
.doc-content > ol > li {
	display: list-item;
	font-size: 17px;
	list-style-position: outside;
	margin-bottom: calc(1.05rem / 2);
}


.doc-content > ul > li > ul > li {
  display: list-item;
  font-size: 17px;
  list-style-position: outside;
}

.doc-content > ul,
.doc-content > ul > li > ul {
	padding-left: 1.4rem;
}

.doc-content > ul > li, {
	list-style-type: disc;
}

.doc-content > ul > li > ul > li {
  list-style-type: circle;
}

.doc-content > ol {
	padding-left: 1rem;
}

.doc-content > ol > li {
	list-style-type: decimal;
}

.doc-content > section {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.1rem;
	margin-top: 4.2rem;
}

@media (max-width: vars.$tablet) {
	.doc-container {
		padding-left: 0;
		padding-top: 44px;
	}
}

@media (min-width: vars.$bpTab) {
	.doc-content,
  .markdown-content {
		margin-left: auto;
		margin-right: auto;
		max-width: 1100px;
		width: 100%;
	}
}