.explorer-link {
  display: flex;
  position: relative;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #ccc;
  margin-top: 1.05rem;

  .explorer-link-partition {
    display: flex;
    padding: 15px 30px;
    width: 47%;
  }

  .explorer-link-header {
    font-weight: bold;
  }

  .explorer-link-number {
    font-weight: bold;
    font-size: 25px;
  }

  .explorer-link-body {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .explorer-link-or {
    position: absolute;
    left: 47.9%;
    bottom: 27%;
    border-radius: 50%;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: white;
  }

  .explorer-link-or-wrapper {
    position: relative;
    width: 6%;
  }

  .explorer-link-or-line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ccc;
    z-index: 1;
  }

  .explorer-link-or-wordwrapper {
    text-align: center;
    height: 18px;
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    margin-top: -18px;
    z-index: 2;

    .explorer-link-or-word {
      color: #ccc;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 3px;
      font: bold 18px arial, sans-serif;
      background: #fff;
    }
  }
}
