.field-explorer
  height: 740px

.field-explorer-border
  border: 1px solid #cccccc

.field-name
  display: inline-block
  padding: 10px 15px
  line-height: 1em
  color: #666

.field-name:hover
  background-color: $clrPrimary
  color: $clrWhite

.field-list
  width: 40%

.field-list-item
  display: flex
  justify-content: space-between