.field-explorer
  height: 550px

.field-explorer-border
  border: 2px solid grey

.field-name
  display: inline-block
  padding: 10px 15px
  line-height: 1em
  color: #666

.field-name:hover
  background-color: $clrPrimary
  color: $clrWhite