.filter-sidebar
  width: 23%
  padding-top: 30px
  overflow-x: hidden
  float: left
  border-right: 1px
  border-right-style: solid
  border-right-color: #BFD4DF
  background-color: white
  color: #00517D
  -webkit-transition: .3s
  -moz-transition: .3s
  -ms-transition: .3s
  -o-transition: .3s
  transition: .3s

  .filter-components
      padding-bottom: 52px

  p
    color: #00517D

.filter-sidebar::-webkit-scrollbar
  width: 6px
  height: 6px
  &-thumb
    background: $clrPrimary
  &-track
    background: $clrPrimaryAltLightest

.filter-input
  padding-right: 30px

  > input
    font-size: 10px
    height: 36px
    width: 100%
    border-radius: 3px
    border-style: solid
    border-width: 1px
    border-color: #BFD4DF
    padding-left: 10px

.filter-item-container
  padding-left: 40px
  margin-bottom: 25px

  h3
    font-size: 16px
    font-weight: normal
    margin-bottom: 10px

  i
    cursor: pointer

.filter-select
  margin-right: 30px

  .Select-control
    font-size: 15px
    height: 36px
    width: 100%
    border-radius: 3px
    border-style: solid
    border-width: 1px
    border-color: #BFD4DF

    > *:last-child
      padding-top: 5px

  .Select-menu-outer
    font-size: 10px
    width: 100%
    border-radius: 3px
    border-style: solid
    border-width: 1px
    border-color: #BFD4DF

.selected-filter
  display: flex
  padding-top: 10px

  button
    padding: 0

    span
      font-size: 16px
      padding-right: 10px

    i
      color: #ef4205
      font-size: 16px


.help-window
  position: absolute
  display: flex
  flex-direction: column
  height: 80%
  width: 60%
  min-width: 320px
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  background: rgba(255, 255, 255, 1)
  box-shadow: 0 5px 15px rgba(0,0,0,.5)
  border: 1px solid rgba(0,0,0,.2)
  border-radius: 6px
  overflow: auto
  outline: none

  > h3
    padding: 15px
    border-bottom: 1px solid #e5e5e5
    text-align: center

  > p
    padding: 15px 15px 0

  > ul
    padding: 15px

  .ReactTable .-pagination input, .ReactTable .-pagination select
    padding: 5px 17px

  .ReactTable .rt-th, .ReactTable .rt-td
    text-align: center

.select-wrap:after
  right: 3px

.sidebar-buttons
  position: fixed
  bottom: 0
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  border-right: #bfd4df solid 1px
  border-top: #bfd4df solid 1px
  padding: 8px 30px 8px 0
  height: 52px
  width: 23%
  background-color: white

  button
    color: white
    font-weight: bold
    margin-left: 40px
    padding: 8px 40px

  span
    color: #4286BE
    cursor: pointer
    font-size: 14px
    font-weight: bold
    text-decoration: underline

.filter-bg-light-blue
  background-color: #ACCAE2

.filter-bg-darker-blue
  background-color: #017bba

.filter-header
  font-weight: bold !important
  color: #00517d
  font-family: Merriweather, Georgia, serif
