.footer-container
  min-height: 400px

.footer-left
  max-width: 275px
  line-height: 24px
  margin-right: 40px

  li:not(:first-child)
    margin-left: 40px

.link-columns
  columns: 2
  color: #fff

.footer-right
  width: 25%

  p
    margin-bottom: 60px
    text-align: right

  img
    left: -21px