.homepage-hero
  position: relative
  height: 500px
  width: 100%
  color: white
  background-image: url('/img/developer.png')
  background-size: cover
  background-position: 0 40%
  background-repeat: no-repeat
  overflow: hidden
  text-shadow: 0 4px 6px rgba(0,0,0,0.5)

.homepage-hero:before
  position: absolute
  content:" "
  top:0
  left:0
  width:100%
  height:100%
  display: block
  z-index:0
  background: #005990;
  background: -moz-linear-gradient(-45deg, #005990 1%, #05abe0 100%)
  background: -webkit-linear-gradient(-45deg, #005990 1%,#05abe0 100%)
  background: linear-gradient(135deg, #005990 1%,#05abe0 100%)
  opacity: 0.8

.homepage-hero > div
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  width: 30%
  z-index: 1

.homepage-hero .btn
  text-shadow: none
  box-shadow: 0 4px 7px rgba(0,0,0,0.3)
  text-transform: uppercase

.divider-line
  width: 100px
  height: 2px
  background: white
  opacity: .5
  margin: 20px auto
  box-shadow: 0 4px 7px rgba(0,0,0,0.9)

.half-hero
  width: 50%
  min-height: 350px
  background-size: cover
  background-position: 0 100%
  background-repeat: no-repeat
  justify-content: flex-end
  overflow: hidden

.half-hero > div
  margin: 60px

.area-chart-container
  background-image: url('/img/area-chart.svg')
  background-color: #00B1CB
  color: white
  margin-right: 2px
  background-position: 0 8px

.down-arrows-container
  background-image: url('/img/down-arrows.svg')
  background-color: #DEF1F5
  margin-left: 2px
  background-position: 0px 45px

.blue-code-container
  background-image: url('/img/blue-code.jpg')
  background-size: 50%
  background-position: 0 50%
  background-color: #0C58B6
  background-repeat: no-repeat
  color: white
  height: 270px
  justify-content: flex-end
  margin-top: 4px
  overflow: hidden

.blue-code-container > div
  margin: 60px 0
  width: 50%

.center-heading
  max-width: 100%
  text-align: center
  font-size: 28px
  font-family: 'Source Sans Pro', sans-serif
  color: #00517D

.center-heading span
  padding: 0 20px
  position: relative

.center-heading span:before, .center-heading span:after
  content: ""
  position: absolute
  height: 1px
  border-top: 1px solid #ccc
  margin: 15px -5px
  bottom: 0
  width: 50px

.center-heading span:before
  right: 100%

.center-heading span:after
  left: 100%

@media $bpMob
  .center-heading span:before, .center-heading span:after
    display: none

@media $tablet
  .half-hero
    width: 100%
    margin: 0
    min-height: 0px

  .half-hero > div
    margin: 30px

  .blue-code-container > div
    margin: 30px

@media $bpMobSmall
  .area-chart-container
    background-image: none

  .down-arrows-container
    background-image: none
