.long-text-formatter
  word-break: breakall
  white-space: normal !important
  overflow: auto
  padding-top: 20px
  padding-bottom: 20px

.datamap-infographic-header
  font-family: Merriweather,Georgia,serif
  font-size: 21px
  font-style: normal
  display: flex
  justify-content: space-between
  padding-bottom: 7px
  padding-top: 5px
  margin-bottom: 0px

.heatmap-infographic-header
  font-family: Merriweather,Georgia,serif
  display: flex
  justify-content: center
  font-size: 22px
  font-style: normal

.datamap-infographic-header-params
  font-family: Merriweather,Georgia,serif
  white-space: nowrap
  font-size: 22px
  padding-top:20px

.pie-infographic-headers
  font-family: Merriweather,Georgia,serif
  display: flex
  justify-content: space-around
  white-space: pre-wrap

.infographic-dropdown
  padding-top: 5px

.datamap-hr 
  display: block
  margin-top: 0.5em
  margin-bottom: 0.5em
  margin-left: auto
  margin-right: auto
  border-style: inset
  border-width: 1px

.datamap-infographic-header-text-bold
  font-weight: bold
  font-style: normal
  white-space: nowrap

.datamap-infographic
  position: relative
  left: 3%
  padding-bottom: 10px

.datamap-infographic-header-title
  font-size: 21px
  position: relative
  left: 22%

.datamap-infographic-empty-data
  text-align: center
  padding-left: 325px
  font-size: 20px
  font-weight: bold

.heatmap-infographic-header-title
  font-size: 21px
  position: relative
  left: 7%

.heatmap-infographic
  padding-left: 50px

.heatmap-line-chart
  padding-left: 15px
  padding-right: 15px

.heatmap-header
  width: 600px
  margin: 50px
  padding-left: 200px

.interactive-infographic-center
  font-family: Merriweather,Georgia,serif
  font-size: 17px

.bold-font
  font-weight: bold

.interactive-infographic-select
  float:right
  width: 20%
  padding-top: 5px

.interactive-infographic-left
  float: left

.interactive-infographic-bold
  font-weight: bold
  white-space: nowrap

.interactive-infographic-border
  height: 525px
  border: 1px solid #ccc
  background-color: #f1f1f1
  padding: 10px

.heatmap-infographic-zoom-button
  float: right
  font-family: Merriweather,Georgia,serif
  border-style: double
  border-width: 2px
  font-size: 15px
  padding: 8px 10px 10px 10px
  background-color: lightgrey

.infographic-legend-table
  border-spacing: .5em
  font-family: Merriweather, Georgia, serif
  font-size:15px

.infographic-legend-title
  font-family: Merriweather,Georgia,serif
  font-weight: bold
  text-decoration: underline
  margin-bottom: 7px

.infographic-legend-tr
  height: 25px
  padding-right: 15px
  width: 25px
  display: inline-block

.infographic-chart-legend
  height: 200px
  width: 250px
  overflow-y: scroll

.piechart-legend
  font-family: Merriweather,Georgia,serif
  font-size: 14px
  width: 650px

.select-placeholder
  font-weight: bold

.select-label
  display: flex
  justify-content: center
  font-size: 16px
  white-space: pre-wrap

.piechart-container
  height:230px

.piechart-centered-title
  font-family: Merriweather,Georgia,serif
  font-size: 14px

.piechart-label
  font-family: Merriweather,Georgia,serif
  font-size: 14px

.piechart-title
  font-size: 12px
  padding-bottom: 1px
  padding-left: 15px

.infographic-slider
  font-family: Merriweather,Georgia,serif
  padding-left: 25px
  padding-top: 29px

.grid-infographic-ylabel
  padding-top: 1px
  padding-left: 14px
  transform-origin: left top 0
  font-size: 13px
  font-weight: bold
  font-family: Merriweather,Georgia,serif

.grid-infographic-xlabel
  float: right
  padding-right: 287px
  font-size: 13px
  font-weight: bold
  font-family: Merriweather,Georgia,serif
