.long-text-formatter
  word-break: breakall
  white-space: normal
  overflow: auto
  padding-top: 20px
  padding-bottom: 20px

.datamap-infographic-header
  font-family: Merriweather,Georgia,serif
  font-size: 24px
  font-style: normal

.heatmap-infographic-header
  font-family: Merriweather,Georgia,serif
  font-size: 22px
  font-style: normal

.datamap-infographic-header-params
  font-family: Merriweather,Georgia,serif
  white-space: nowrap
  font-size: 22px

.datamap-hr 
  display: block
  margin-top: 0.5em
  margin-bottom: 0.5em
  margin-left: auto
  margin-right: auto
  border-style: inset
  border-width: 1px

.datamap-infographic-header-text-bold
  font-weight: bold
  font-style: normal
  white-space: nowrap

.datamap-infographic
  position: relative
  left: 6%
  padding-bottom: 10px

.datamap-infographic-header-title
  font-size: 21px
  position: relative
  left: 22%

.datamap-infographic-empty-data
  text-align: center
  padding-left: 325px
  font-size: 20px
  font-weight: bold

.heatmap-infographic-header-title
  font-size: 21px
  position: relative
  left: 7%

.heatmap-infographic
  padding-left: 100px

.heatmap-header
  width: 600px
  margin: 50px
  padding-left: 200px

.interactive-infographic-center
  text-align: center
  font-family: Merriweather,Georgia,serif
  font-size:22px

.interactive-infographic-underline
  text-decoration: underline
  font-weight: bold

.interactive-infographic-left
  float: left

.interactive-infographic-bold
  font-weight: bold
  white-space: nowrap

.heatmap-infographic-zoom-button
  float: right
  border-style: double
  border-width: 2px
  padding: 8px 10px 10px 10px
  background-color: lightgrey

.infographic-legend-table
  border-spacing: .5em

.infographic-legend-title
  font-family: Merriweather,Georgia,serif
  font-weight: bold
  text-decoration: underline

.infographic-legend-tr
  height: 25px
  padding-right: 15px
  width: 25px
  display: inline-block

.infographic-chart-legend
  height: 200px
  width: 250px
  overflow-y: scroll

.piechart-timeseries
  padding-left:50px
  height: 200px
  width: 250px
  overflow-y: scroll
  float: right

.infographic-slider
  padding-left: 25px
  padding-top: 25px


