.bg-img-container
  overflow: hidden

.icon
  height: 75px

.noun-box
  width: 280px
  height: 246px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 10px
  box-shadow: inset 0 0 0 1px #ccc

.noun-card
  border-radius: 10px
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px
  transition: all 0.2s linear

.noun-card:hover
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
  transform: translateY(-4px)

.noun-text-box > h3
  padding-top: 10px

.noun-text-box > span
  line-height: 19px
  font-size: 0.9rem
  padding: 0 15px