.panels {
  display: flex;
  flex-direction: column;
}

.panel-allocation {
  width: 60%
}

.panel-balance {
  width: 40%
}

.panel-positions {
  margin-bottom: 23px
}

.panels-top {
  margin: 40px 0
}