.blog-bg
  background-color: #F3F4F4
  display: flex
  flex-direction: column
  position: relative
  align-items: center

.blog-container
  display: flex
  flex-direction: row
  justify-content: space-evenly
  flex-wrap: wrap

.small-blog-container
  max-height: 310px

.blog-item
  width: 23%
  min-width: 320px
  box-shadow: 0 4px 6px rgba(0,0,0,0.1)
  border-radius: 6px
  background: white
  height: 250px

.blog-text-item
  display: flex
  flex-direction: column