.cat-menu-item
  display: block
  padding: 0rem 1rem
  font-size: 1em
  line-height: 2em

.cat-emphasis
  color: #FFFFFF

.cat-menu-underbar
  border-top: 4px solid #FFFFFF
  margin: -4px 0px 0px 1rem
  bottom: 0
  height: 1px
  width: calc(100% - 2rem)

.cat-menu-underbar-hidden
  border-top: 4px solid #007cba
  margin: -4px 0px 0px 1rem
  bottom: 0
  height: 1px
  width: calc(100% - 2rem)

@media $bpMob
  .cat-menu-item
    font-size: 4.5vw
    font-weight: bold
    padding: 0rem 0.5rem

  .cat-menu-underbar
    margin: -4px 0px 0px 0.5rem
    width: calc(100% - 1rem)

  .cat-menu-underbar-hidden
    margin: -4px 0px 0px 0.5rem
    width: calc(100% - 1rem)