.bg-img-container
  height: 180px
  overflow: hidden
  border-radius: 5px 5px 0px 0px

.bg-img-container > img
  margin-top: -40px
  mix-blend-mode: multiply

.icon
  height: 100px
  width: 100px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center

.ep-box
  width: 280px
  height: 395px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  box-shadow: 0 4px 6px rgba(0,0,0,0.1)
  border-radius: 6px

.ep-text-box
  height: 215px
  border-radius: 0px 0px 5px 5px
  box-shadow: inset 0 0 0 1px #ccc

.ep-text-box > h3
  padding-top: 60px

.ep-text-box > div
  padding: 20px

@media $bpMob
  .ep-text-box > h3
    padding-top: 40px