.blue-code-container
  background-image: url('/img/blue-code.jpg')
  background-size: 50%
  background-position: 0 50%
  background-color: #0C58B6
  background-repeat: no-repeat
  color: white
  height: 200px
  justify-content: flex-end
  margin-top: 4px
  overflow: hidden