.long-text-formatter
  word-break: breakall
  white-space: normal
  overflow: auto
  padding-top: 20px
  padding-bottom: 20px

.datamap-infographic-header
  width: 500px
  margin-top: 50px
  margin-left: 50px
  margin-right: 50px
  margin-bottom: 10px
  left: 18%
  position: relative

.datamap-infographic-header-params
  text-align: center
  white-space: nowrap

.datamap-infographic-header-text-bold
  font-weight: bold
  white-space: nowrap

.datamap-infographic-datamap
  position: relative
  left: 9%

.interactive-infographic-header-title
  font-size: 21px
  position: relative
  left: 7%

.heatmap-header
  width: 600px
  margin: 50px
  padding-left: 200px

.interactive-infographic-center
  text-align: center

.interactive-infographic-left
  float: left

.interactive-infographic-bold
  font-weight: bold
  white-space: nowrap

.heatmap-infographic-zoom-button
  float: right
  border-style: double
  border-width: 2px
  padding: 8px 10px 10px 10px