.hhs
    line-height: 1.1
    vertical-align: text-top

@media $bpMob
  .nav-ul
    display: flex
    flex-direction: row
    flex-wrap: wrap

  .logo-wrapper
    maxWidth: 189px

  .hhs
    text-align: left
    width: 100%

@media $bpTab
  .open-fda-logo
    absolute: bottom 0 left 0

  .nav-li + .nav-li
    border-top: 1px solid $clrGrayLightest

  .hhs
    float: right
    text-align: right

@media $bpDesk
  .nav-li
    margin-right: 15px
    min-width: 160px


