.hhs
    line-height: 1.1
    vertical-align: text-top

.dropdown
  position: relative
  display: inline-block

.dropdown-content
  position: absolute
  right: 0px

.display-block
  display: block

.display-none
  display: none

.menu-container
  display: inherit
  justify-content: flex-end
  flex: auto

.menu-header
  display: block
  position: relative
  margin-bottom: 0
  padding: 0.5em
  color: #666666
  font-size: 1em
  line-height: 2em

.emphasis
  color: $clrPrimary

.fa-angle-down
  padding-left: 0.5em

.sub-menu-container
  position: relative
  overflow: auto
  margin-bottom: 0
  background-color: $clrWhite
  border: 1px solid #ccc
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 3px
  box-shadow: 0 3px 6px rgba(0,0,0,0.2)
  width: auto
  min-width: 160px
  text-align: left
  white-space: nowrap
  z-index: 2

.sub-menu-item
  display: block
  padding: 0rem 1rem 0rem 1.8rem
  font-size: 1em
  line-height: 2em
  color: #666666

.sub-menu-item:hover
  background-color: $clrPrimary
  color: $clrWhite

.sub-menu-item:focus
  -webkit-box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf
  -moz-box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf
  box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf

@media $bpMob

  .nav-ul
    display: flex
    flex-direction: row
    flex-wrap: wrap

  .logo-wrapper
    maxWidth: 189px

  .hhs
    text-align: left
    width: 100%

  .menu-header
    font-size: 4.5vw
    font-weight: bold

  .menu-container
    display: block
    padding-top: 20px

  .dropdown-content
    position: fixed
    width: 100%

  .sub-menu-container
    text-align: left
    border: none

  .sub-menu-item
    font-size: 4.5vw
    border: 1px solid #ccc
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px

@media $bpTab
  .open-fda-logo
    position: relative
    align-self: center

  .nav-li + .nav-li
    border-top: 1px solid $clrGrayLightest

  .hhs
    float: right
    text-align: right

@media $bpDesk
  .nav-li
    margin-right: 15px
    min-width: 160px


