// blocks allow you to dump a
// dumb pile of css anywhere
// useful in niche cases - like when
// you need a media query but there's
// not arguments needed to generate the css

$font-size-1 = @block
  font-size: $h2Size
  line-height: $h2LH
  @media $bpTab
    font-size: $h1Size
    line-height: $h1LH

$font-size-2 = @block
  font-size: $h3Size
  line-height: $h3LH
  @media $bpTab
    font-size: $h2Size
    line-height: $h2LH

$font-size-3 = @block
  font-size: $h4Size
  line-height: $h4LH
  @media $bpTab
    font-size: $h3Size
    line-height: $h3LH

$font-size-4 = @block
  font-size: $ledeSize
  line-height: $ledeLH

$font-size-5 = @block
  font-size: $pSize
  line-height: $pLH

$small = @block
  font-size: $smallSize
  line-height: $smallLH

$smallest = @block
  font-size: $smallestSize
  line-height: $smallestLH
