<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="robots" content="noindex,nocrawl" />
    <meta name="description" content="A research project with open APIs, raw data, examples, and a developer community for a collection of FDA datasets." />

    {% include css-js.html %}
  </head>
  <body>
    <div class="container site">
      {% include header.html %}

      <div class="row">
        <div class="col-md-9">
          <div class="row line">
            <div class="col-md-4 masthead">
              <a class="logo" href="{{ site.baseurl }}/"></a>
            </div>
            <div class="col-md-8">
              <div class="blocklight blue-bg padded-bottom">
                &nbsp;
                <h1>A research project to provide open APIs, raw data downloads, documentation and examples, and a developer community for an important collection of FDA datasets.</h1>
                <a href="about.html" class="white text-small">More about openFDA &raquo;</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="excerpts col-md-8 col-md-offset-4">
            <h2 class="sr-only">Blog posts</h2>
              {% for post in site.posts %}
                <div class="excerpt">
                  <h3 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                  <span class="date">{{ post.date | date_to_long_string }}</span>
                  {% if post.cover %}
                    <p><img class="content-width" src="{{ site.baseurl }}/images/{{ post.cover }}" /></p>
                  {% endif %}
                  <p>{{ post.excerpt }}</p>
                  <span class="date"><a href="{{ site.baseurl }}{{ post.url }}">Read more</a></span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3">
          <div class="sidebar line-light spaced-bottom">
            <h2 style="margin-top: -.2ex"><span class="icon-mail"></span> <span>Sign up for updates</span></h2>
    				<div id="contact-form" class="form-inline slight">
              <label for="email" class="sr-only">Email address</label>
    					<input type="email" class="form-control input-sm" id="email" placeholder="Email address">
    				  <button class="btn btn-default btn-sm" id="listserv-signup">Sign up</button>
            </div>
          </div>
          <div class="sidebar line-light spaced-bottom">
            <h2><a href="http://fda.github.io/openfda-blog" class="link-icon"><span class="icon-github"></span> <span>fda/openfda-blog</span></a> on GitHub</h2>
            <span class="slight">We're hosting this blog on GitHub, and will use it to manage and open source our API code.</span>
          </div>
          <div class="line-light">
            <h2><a href="sidebar http://twitter.com/openfda" class="link-icon"><span class="icon-twitter"></span> <span>@openFDA</span></a> on Twitter</h2>
            <span class="slight">Veritas <a href="https://twitter.com/search?q=%23openfda">#openfda</a> ipsum dolor.</span>
          </div>
        </div>
      </div>

      {% include header-small.html %}

      {% include footer.html %}
    </div>

		<script>
  		$("button#listserv-signup").click(function() {
  			var email = $("input#email").val();
  			$.ajax({
  				type: "POST",
  				crossDomain: true,
  				url: "http://dbaxqhkdmfkhz.cloudfront.net/https://list.nih.gov/cgi-bin/wa.exe",
  				headers: ['origin', 'x-requested-with'],
  				beforeSend: function() {
  				    $("div#contact-form").html('One moment. Signing you up...');
  				  },
  				data: { SUBED2: "OPENFDA", A: "1", p: email, s: email, L: "OPENFDA", b: "Subscribe (OPENFDA)" }
  			})
  			.done(function() {
  				$("div#contact-form").html("Thanks for your interest in openFDA. You'll receive an automated email with a link to confirm your subscription.");
  			})
  			.fail(function() {
  				$("div#contact-form").html("We ran into a technical problem signing you up from this page. Please <a href='https://list.nih.gov/cgi-bin/wa.exe?SUBED1=openfda'>sign up at the NIH web site.</a>");
  			})
  		});
		</script>
  </body>
</html>
