<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>{{ page.title }} | {{ site.name }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}/static/css/style.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} &raquo; Feed" href="{{ site.baseurl }}/feed/" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta name="google-site-verification" content="Yvt-soklNWkw9mlmG-QgHTdHDDnvOUpWDwzMXnpiyK8" />
  </head>
  <body>
    {% include beta.html %}
    <div class="container">
      <div class="site-wrapper">
        <header role="banner" class="site-header">
          <h1><a href="http://www.fda.gov" class="logo-fda"></a></h1>
          <h1><a href="{{ site.baseurl }}/index.html" class="logo"></a></h1>
          {% include nav.html %}

          {% if page.url contains "reference" %}
            <nav class="site-navigation reference-nav">
              <ul id="reference-nav-ul"></ul>
            </nav>
          {% endif %}
        </header>

        <div class="site-body">
          {% include community.html %}

          <div class="site-body-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <footer role="contentInfo" class="site-footer">
      <div class="site-footer-section">
        <div class="site-footer-aside">
          <a href="http://www.fda.gov" title="FDA Home Page" class="logo-fda"></a>
        </div>
        <div class="site-footer-main site-links">
          <ul>
            <li><a href="http://www.fda.gov/" target="_blank" title="FDA Home Page">FDA Home</a></li>
            <li><a href="http://www.fda.gov/AboutFDA/AboutThisWebsite/Accessibility/default.htm" target="_blank"  title="Accessibility">Accessibility</a></li>
            <li><a href="http://www.fda.gov/AboutFDA/WorkingatFDA/default.htm" target="_blank"  title="Careers">Careers</a></li>
            <li><a href="http://www.fda.gov/AboutFDA/Transparency/Basics/default.htm" target="_blank"  title="FDA Basics">FDA Basics</a></li>
            <li><a href="http://www.fda.gov/RegulatoryInformation/FOI/default.htm" target="_blank"  title="Freedom of Information Act">FOIA</a></li>
            <li><a href="http://www.fda.gov/AboutFDA/WorkingatFDA/NoFearAct/default.htm" target="_blank"  title="No Fear Act">No Fear Act</a></li>
            <li><a href="http://www.fda.gov/SiteMap/default.htm" target="_blank"  title="Site Map">Site Map</a></li>
            <li><a href="http://www.fda.gov/AboutFDA/Transparency/default.htm" target="_blank"  title="Transparency">Transparency</a></li>
            <li><a href="http://www.fda.gov/AboutFDA/AboutThisWebsite/WebsitePolicies/default.htm" target="_blank"  title="Website Policies">Website Policies</a></li>
            <li><a href="{{ site.baseurl }}/terms" title="openFDA Terms of Service">openFDA Terms of Service</a></li>
            <li><a href="mailto:open@fda.hhs.gov">Email the openFDA team</a></li>
          </ul>
        </div>
      </div>
      <div class="site-footer-section">
        <div class="site-footer-aside fda-contact slight">
          <address>
            <strong>U.S. Food and Drug Administration</strong><br>
            10903 New Hampshire Avenue<br>
            Silver Spring, MD 20993<br>
            <span class="icon-phone" aria-hidden="true"></span> 1-888-INFO-FDA (1-888-463-6332)<br>
            <span class="icon-envelope-alt" aria-hidden="true"></span> <a href="http://www.fda.gov/AboutFDA/ContactFDA/default.htm" title="Contact FDA">Contact FDA</a>
          </address>
        </div>
        <div class="site-footer-main disclaimer slight">
          <p>Some links on this website may direct you to non-FDA locations. FDA does not endorse or guarantee the integrity of information on these external sites.</p>
        </div>
      </div>
    </footer>
    {% include warning-modal.html %}
    {% if page.js %}
    {% for js in page.js %}
    <script src="{{ site.baseurl }}{{ js }}"></script>
    {% endfor %}
    {% endif %}
    <script>
    var _gaq=[['_setAccount','UA-22737364-16'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
