<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />

    {% include css.html %}
  </head>
  <body>
    <div class="container site">
      <div class="hidden-xs hidden-sm">
        {% include header.html %}
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="row line">
            <div class="col-md-4 masthead">
              <a class="logo" href="{{ site.baseurl }}/"></a>
            </div>
            <div class="col-md-8">
              <div class="highlight blue-bg padded-bottom">
                &nbsp;
                <h1>A research project to provide an open API, raw data, documentation and examples, and developer community for a curated collection of FDA datasets.</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="excerpts col-md-8 col-md-offset-4">
              {% for post in site.posts %}
                <div class="excerpt">
                  <h3 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                  <span class="date">{{ post.date | date_to_long_string }}</span>
                  {% if post.cover %}
                    <p><img class="content-width" src="{{ site.baseurl }}/images/{{ post.cover }}" /></p>
                  {% endif %}
                  <p>{{ post.excerpt }}</p>
                  <span class="date"><a href="{{ site.baseurl }}{{ post.url }}">Read more</a></span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3">
          <div class="line-light">
            <h2><a href="#"><span class="icon-mail"></span> open@fda.hhs.gov</a></h2>
            <span class="slight">Consectitur veridis quo.</span>
          </div>
          <div class="line-light">
            <h2><a href="#"><span class="icon-github"></span> fda/openfda</a></h2>
            <span class="slight">Lorem ipsum dolor emet.</span>
          </div>
          <div class="line-light">
            <h2><a href="#"><span class="icon-twitter"></span> @openFDA</a></h2>
            <a class="twitter-timeline" href="https://twitter.com/twomonthsoff" data-widget-id="434085951833264128" data-link-color="#068cff" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="5">Tweets by @twomonthsoff</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
            <span class="slight">Veritas #openfda ipsum dolor.</span>
          </div>
        </div>
      </div>

      <div class="hidden-md hidden-lg">
        {% include header.html %}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
