---
layout: default
cover: p_binders.jpg
js: 
  - '/static/bower_components/jquery/dist/jquery.min.js'
  - '/static/js/min/jquery-xdomainrequest.js'
  - '/static/js/min/update-signup.js'
---
<section class="content-heading home api {% if page.cover %}cover{% endif %}" style="background-image:url('{{ site.baseurl }}/assets/img/{{ page.cover }}');">
  <div class="content-heading-text">
    <div class="content-heading-title">
      &nbsp;
    </div>
    <h1>
      Open-source APIs for FDA <strong>drug</strong>, <strong>device</strong>, and <strong>food</strong> data
    </h1>
    <p><a href="{{ site.baseurl }}/about">About openFDA <i class="fa fa-angle-double-right"></i></a></p>
    
    <section class="pointers">
      <div>
        <h2>Drugs</h2>
        <ul>
          <li>
            <a href="{{ site.baseurl }}/drug/event">Adverse events</a><br />
            <a href="https://api.fda.gov/drug/event.json" class="api-link">api.fda.gov/drug/event</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/drug/label">Labeling</a><br />
            <a href="https://api.fda.gov/drug/label.json" class="api-link">api.fda.gov/drug/label</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/drug/enforcement">Enforcement reports</a><br />
            <a href="https://api.fda.gov/drug/enforcement.json" class="api-link">api.fda.gov/drug/enforcement</a>
          </li>
        </ul>
      </div>
      <div>
        <h2>Devices</h2>
        <ul>
          <li>
            <a href="{{ site.baseurl }}/device/event">Adverse events</a><br />
            <a href="https://api.fda.gov/device/event.json" class="api-link">api.fda.gov/device/event</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/device/enforcement">Enforcement reports</a><br />
            <a href="https://api.fda.gov/device/enforcement.json" class="api-link">api.fda.gov/device/enforcement</a>
          </li>
        </ul>
      </div>
      <div>
        <h2>Foods</h2>
        <ul>
          <li>
            <a href="{{ site.baseurl }}/food/enforcement">Enforcement reports</a><br />
            <a href="https://api.fda.gov/food/enforcement.json" class="api-link">api.fda.gov/food/enforcement</a>
          </li>
        </ul>
      </div>
    </section>

    <!--
    <div id="api-home-demo">
      <span id="title" class="out"></span>
      <div id="chart"></div>
    </div>
    -->
  </div>
</section>

<div class="homepage">
  <div class="homepage-content">
    <div class="article-list">
      {% for post in site.posts limit:3 %}
        <article>
          <header><h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <div class="article-meta">
              {% for author in site.data.authors %}
                {% if post.authors contains author.name %}
                  {{ author.name }} | 
                {% endif %}
              {% endfor %}
              {{ post.date | date_to_string }}
            </div>
          </header>
          {% if post.summary %}
            <p>{{ post.summary }}</p>
          {% else %}
            {{ post.excerpt }}
          {% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more</a>
        </article>
      {% endfor %}

      <a href="{{ site.baseurl }}/updates/">More updates</a>
    </div>
  </div>
  
  <div class="homepage-sidebar">  
    <section>
      <a href="https://github.com/FDA" target="_blank">
        <h2><i class="fa fa-github"></i>Open source on GitHub {% include external-link.html %}</h2>
      </a>
      <span>Log bugs, contribute, or fork openFDA</span>
    </section>
    <section>
      <a href="https://opendata.stackexchange.com/questions/tagged/openfda" target="_blank">
        <h2><i class="fa fa-stack-exchange"></i>Q&amp;A on StackExchange {% include external-link.html %}</h2>
      </a>
      <span>Ask questions and get support</span>
    </section>
    <section>
      <a href="https://twitter.com/openFDA" target="_blank">
        <h2><i class="fa fa-twitter"></i>@openFDA on Twitter {% include external-link.html %}</h2>
      </a>
      <span>Keep up to date on <a href="https://twitter.com/search?q=%23openfda" target="_blank">#openFDA</a> {% include external-link.html %}</span>
    </section>
    <section>
      <h2><i class="fa fa-envelope"></i>Get email updates</h2>
      <form id="contact-form" class="form-inline">
        <div class="input-group">
          <label for="email" class="sr-only">Email address</label>
          <input type="email" class="form-control input-sm" id="email" placeholder="Email address">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" id="listserv-signup">Sign up</button>
          </span>
        </div>
      </form>
    </section>
  </div>
</div>