---
layout: default
---
<article class="post-page">
  <header class="content-heading light {% if page.cover %}cover{% endif %}" style="background-image:url('{{ site.baseurl }}/assets/img/{{ page.cover }}');">
    <div class="content-heading-text">
      <div class="content-heading-title">
        &nbsp;
      </div>
      <h1>{{ page.title }}</h1>
    </div>
  </header>
  <div class="article-meta">
    {% for author in site.data.authors %}
      {% if page.authors contains author.name %}
        {% if author.fullname %}
          {{ author.fullname }} | 
        {% else %}
          {{ author.name }} | 
        {% endif %}
      {% endif %}
    {% endfor %}
    {{ page.date | date_to_string }}
  </div>
  {{ content}}
  {% for author in site.data.authors %}
    {% if page.authors contains author.name %}
      <div class="author-info">
        <div class="author-image">
          {% if author.image %}
            <img src="{{ site.baseurl}}/assets/img/authors/{{ author.image }}" alt="{{ author.name }}">
          {% endif %}
        </div>
        <div class="author-description">
          <span class="author-name">
            {% if author.fullname %}
              {{ author.fullname }}
            {% else %}
              {{ author.name }}
            {% endif %}
          </span>
          <span class="author-bio">{{ author.bio }}</span>
          <span class="author-contact"><a href="mailto:{{ author.email }}">{{ author.email }}</a> {% if author.twitter %} | <a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}{% endif %}</a></span>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</article>